<div class="container">
  <h2 class="text-center mb-4 product-list-title">Products</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let product of products">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top product-list-image cropped-image" [src]="product.imageUrl" alt="{{ product.name }}">
        <div class="card-body">
          <h5 class="card-title product-list-title">{{ product.name }}</h5>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button (click)="viewProductDetails(product.id)" class="btn btn-sm btn-outline-secondary product-list-button">View Details</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>